body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: "Montserrat", cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: #ffa500;
  opacity: 0.8;
}

.red {
  background-color: #ff0000;
}

.green {
  background-color: #00ff00;
}

.blue {
  background-color: #00008b;
}

.yellow {
  background-color: #ffff00;
}

.pressed {
  box-shadow: 0 0 20px #ffffff;
  background-color: #0c0c0c;
}
